reg.mini.dev:
  images:
    nginx: 
      - 1.29
    python: 
      - 3.13
    14/node-fips-app-base-fb: 
      - 24.13
      - 24
  credentials:
    username: minimus
    password: {{ env['MINIMUS_TOKEN'] }}
